* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background-color: #f5f5f5;
  color: rgb(40, 48, 55);
}

nav {
  width: 100%;
  display: flex;
  background-color: rgb(40, 48, 55);
  justify-content: space-between;
  padding: 10px;
}

nav #logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

nav #logo>div {
  display: inline-flex;
  font-size: 1.5rem;
  margin-left: 0.4rem;
}

nav #buttons {
  padding-right: 3rem;
}

#container {
  padding: 2rem;
}

.error {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #f00;
  font-weight: bold;
}

/* ******* LOGIN ******** */

.formContainer {
  text-align: center;
  margin: 2rem;
}


.m-3 { margin: 1rem !important; }
.m-5 { margin: 1.5rem !important; }
.mt-3 { margin-top: 1rem !important; }
.mt-5 { margin-top: 1.5rem !important; }